  {{ partial "head.html" . }}
  <body>
    {{ partial "sidebar.html" . }}
    <div class="bodytop">
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div class="post">
          <h1>{{ .Title }}</h1>
          <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
          {{ .Content }}
        </div>
        <div class="sharing"></div>
      </div>
    </div>
    </div>
<link rel="stylesheet" href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/monokai_sublime.min.css">
<script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js" defer="defer"></script>
<script>hljs.initHighlightingOnLoad();</script>
  </body>
  {{ partial "script.html" .}}
</html>