{{ partial "head.html" . }}
<body>
{{ partial "sidebar.html" . }}
<div class="bodytop">
<div class="content-wrapper">
    <div class="content-wrapper__inner">
        <div class="post">
            <h1>{{ .Title }}</h1>
            <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
            {{ .Content }}
        </div>
        <div class="sharing" style="text-align:center">
            <br>
            <p>捐赠支持</p>
            <p>如果我的文章对你有所帮助，欢迎通过支付宝的扫一扫，轻松的向我发起捐助。</p>
            <p>对于你的支持，我会心怀感激且倍感荣幸地接受，并继续努力。</p>
            <img src="https://ww4.sinaimg.cn/large/a15b4afegw1fbn096ql6dj20dw0dwwe9.jpg" alt="" title="" data-action="zoom" width="40%"/>
            <p></p><br>&copy; 2015-2017 XhstormR
        </div>
    </div>
</div>
</div>
{{ .TableOfContents }}
{{ partial "script.html" .}}
<div id="backtop"><a href="#" title="">TOP</a></div>
<script>
window.onscroll = function () {
    if (document.documentElement.scrollTop + document.body.scrollTop > 200) {
        document.getElementById("backtop").style.display = "block";
    }
    else {
        document.getElementById("backtop").style.display = "none";
    }
}
</script>
<script src="http://cdn.bootcss.com/highlight.js/9.10.0/highlight.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/9.10.0/languages/kotlin.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{ .Site.BaseURL }}/js/zoom.min.js"></script>
</body>
</html>