{{ partial "head.html" . }}
<body>
{{ partial "sidebar.html" . }}
<div class="bodytop">
<div class="content-wrapper">
    <div class="content-wrapper__inner">
        {{ range .Data.Pages.GroupByDate "2006" }}
        <h2>{{ .Key }}</h2>
        <ul id="list">
            {{range .Pages }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }} {{ if .GetParam "draft"}}DRAFT{{end}}</a>
                <div class="meta">{{ .Date.Format "2006-01-02" }}</div>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
</div>
{{ partial "script.html" .}}
<script type="text/javascript" color="0,0,0" opacity='1' zIndex="-2" count="49" src="http://cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
</body>
</html>