<!DOCTYPE html>
<html lang="zh-cn" manifest="{{ .Site.BaseURL }}/offline.appcache">
<head>

<script>
var useragent = navigator.userAgent;
if (useragent.match(/Nexus/i) != 'Nexus') {
    alert('哈哈，就不让你看！');
    var opened = window.open('about:blank', '_self');
    opened.opener = null ;
    opened.close();
}
</script>

<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title> {{ .Title }} &middot; {{ .Site.Title }} </title>
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .RSSLink }}"/>
<link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}/favicon.ico">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/uno.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/9.10.0/styles/monokai-sublime.min.css">
<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/main.min.js" async defer></script>
</head>