{{ partial "head.html" . }}
<body>
{{ partial "sidebar.html" . }}
<div class="bodytop">
<div class="content-wrapper">
    <div class="content-wrapper__inner">
        <section id="main">
            <div>
                {{ range first 10 .Pages }}
                <article class="post">
                    <header>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <div class="post-meta">{{ .Date.Format "2006-01-02" }} - Read in {{ .ReadingTime }} Min</div>
                    </header>
                    <footer><a href="{{ .RelPermalink }}">Read More →</a></footer>
                </article>
                {{ end }}
            </div>
            </br>
            <h4>
                <a href="{{ .Site.BaseURL }}/post/">Archive</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ .Site.BaseURL }}/categories/">Categories</a>
            </h4>
        </section>
    </div>
</div>
</div>
{{ partial "script.html" .}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.5/TweenLite.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/magic-canvas.min.js"></script>
<script>if(document.body.clientWidth>960){var canvas=document.createElement('canvas');canvas.id="reactive-bg-canvas";document.body.appendChild(canvas);$.magicCanvas.draw({type:"random-move",rgb:function (circlePos) {var px=circlePos.x;var py=circlePos.y;return {r:0,g:0,b:0};}})}</script>
</body>
</html>